// || Fonts
$deffnt-content: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$deffnt-title: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
  Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol;

// || Colors
//$color-primary: ;
$color-accent: #fa8e12;
$color-light: #ebebeb;
$color-dark: #2b2b2b;
$color-gray: #cacbcd;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $deffnt-content;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
